.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes rotateLogo {
  0% {transform: rotate(30deg) }
  50% {transform: rotate(-30deg) }
  100% {transform: rotate(30deg) }
}

.logoAnimation {
  width: 30%;
  animation-name: rotateLogo;
  animation-duration: 4s;
  animation-iteration-count:infinite;
}