.degrade {
  background-color: #42157a;
  background-image: linear-gradient(to bottom left, black, #6f23cb);
  height: 100vh;
  overflow: hidden;
}

.c-home__strip {
  transform: rotate(137deg);
  bottom: -65%;
  left: -33%;
  height: 125vh;
  width: 125vw;
}

/* TabletV+ */
@media (min-width: 600px) {
  .c-home__strip {
    transform: rotate(130deg) !important;
    bottom: -52% !important;
    left: -58% !important;
  }
}

/* TabletH+ */
@media (min-width: 900px) {
  .c-home__strip {
    transform: rotate(24deg) !important;
    bottom: -80% !important;
    left: -30% !important;
  }

  .c-home__content {
    font-size: 4em !important;
  }

  .c-home__allContent {
    height: 100vh;
  }
}