.c-common__arrowleft,
.c-common__arrowdown,
.c-common__arrowright,
.c-common__arrowup {
  height: 30px;
  width: 30px;
  padding: 4px;
}

.c-common__arrowdown {
  transform: rotate(270deg);
}
.c-common__arrowright {
  transform: rotate(180deg);
}
.c-common__arrowup {
  transform: rotate(90deg);
}

.c-social__bgblack {
  background-color: black;
  border-radius: 5px;
}

@media (min-width: 900px) {
  .c-social__bgblack {
    border-radius: 20px !important;
  } 
}