@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Inconsolata', monospace;
  background-color: #262626;
}
