body {
  padding: 0 !important;
  margin: 0 !important;
} 

/* Width */
._50 {
  width: 50%;
}

/* Display */
._df {
  display: flex;
}

._dn {
  display: none;
}

._db {
  display: block;
}

/* Text Align */
._tac {
  text-align: center;
}

/* Text Transform */
._ttu {
 text-transform: uppercase;
}

/* Colors */
._white {
  color: white;
}